@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Strait&display=swap");
* {
  box-sizing: border-box;
  line-height: 1.3;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #1e4b66;
  width: 100vw;
  border-bottom: 8px rgb(203, 203, 221) solid;
  box-shadow: 3px -5px 0px 13px rgba(209, 166, 166, 0.75);
  -webkit-box-shadow: 3px -5px 0px 13px rgba(208, 184, 184, 0.75);
  -moz-box-shadow: 3px -5px 0px 13px rgba(157, 131, 131, 0.75);
}

.nav-logo {
  align-self: flex-end;
  width: 4%;
  opacity: 0.6;
  margin-left: 10px;
}
/*********** REGISTER FORM *********/

.register-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 50vw;
  text-align: center;
  margin-top: 5rem;
}

.register-form-container input {
  margin-top: 1.5rem;
  height: 3rem;
}

.register-form-container button {
  margin-top: 3rem;
  height: 3rem;
  border: none;
  font-family: "Roboto";
}
.register-form-container h2 {
  font-family: "Roboto";
  font-weight: 400;
}

.alreadyHaveAnAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Dashboard */

.main {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(38, 38, 38);
  font-family: "Strait";
  color: rgb(196, 194, 194);
}
.logout-button {
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 3;
}

.logout-button:hover {
  opacity: 0.5;
}

.header {
  margin: 0 auto;
  display: flex;
  font-family: "Strait";
  color: rgb(199, 199, 204);
  background-color: rgb(55, 61, 74);
  margin: 0 auto;
  width: 100vw;
  min-height: 95vh;
  overflow-y: scroll;
}
.sidemenu {
  display: flex;
  width: 300px;
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.305);
  border-top: 1px solid rgba(255, 255, 255, 0.361);
  justify-content: center;
  align-items: flex-start;

  background-color: rgb(38, 38, 38);
}
.side-menu-button {
  display: flex;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.218);
  border-radius: 5px;
  width: 100%;
  text-align: left;
  font-family: arial;
  font-size: 15px;
  background-color: rgba(200, 197, 197, 0);
  transition: ease 0.25s all;
}
.side-menu-button:hover {
  background-color: rgba(63, 63, 63, 0.526);
}
.fas,
.fa-plus {
  padding-right: 1rem;
}
.chatbox {
  margin: 0 auto;
  width: 100%;
  border-top: 1px rgba(255, 255, 255, 0.204) solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-input-holder {
  padding: 12px;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.chat-disclaimer {
  font-size: 11px;
  text-align: center;
  padding-top: 0.5rem;
}

.chat-input-textarea {
  background-color: rgba(58, 65, 79, 0.667);
  width: 100%;
  border: 5px;
  padding: 18px;
  border-radius: 10px;
  font-family: "Arial";
  color: whitesmoke;
  font-size: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  resize: none;
}
textarea::placeholder {
  color: #757d8a; /* Replace with your desired color */
}
.chat-log {
  padding: 0px;
  text-align: left;
  display: flex;
  margin-left: 0%;
  flex-direction: column;
}

.chat-message {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-left: 20%;
}
.chat-message.chatgpt {
  background-color: rgba(61, 68, 83, 0.783);
  margin: 0 auto;
  padding: 20px;
  padding-left: 20%;
  width: 100%;
  border-radius: 0%;
}
.avatar {
  background-color: rgb(49, 162, 168);
  border-radius: 10%;
  width: 30px;
  height: 30px;
}
.avatar.chatgpt {
  background-color: rgb(120, 86, 151);
  background-image: url(/logos/jung-gpt-logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.message {
  margin-left: 2rem;
  margin-top: 0rem;
  font-family: arial;
  letter-spacing: 0.6px;
  font-size: 15px;
  width: 40%;
  line-height: 2rem;
}
.form-container {
  position: relative;
}

.chat-input-textarea {
  padding-right: 80px; /* adjust this value based on your send button size */
}

.send-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-55.5%);
  background-color: #427a6a;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.25s;
  border-radius: 10%;
}

.send-button:hover {
  background-color: #8e9cba84;
  color: white;
}

.header p {
  align-items: center;
  font-family: "Strait";
  color: "whitesmoke";
  background-color: rgb(38, 38, 38);
}

.header button {
  margin-right: 1rem;
}

.spanclass {
  color: white;
}

#flat-earth {
  align-self: flex-end;
  font-size: 15px;
  margin-right: 1.4rem;
}
body {
  background-image: url(../logos/jung-background4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 650px) {
  body {
    background-image: url(../logos/jung-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidemenu {
    display: flex;
    width: 200px;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.305);
    border-top: 1px solid rgba(255, 255, 255, 0.361);
    justify-content: center;
    align-items: flex-start;

    background-color: rgb(38, 38, 38);
  }

  .side-menu-button {
    display: flex;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.218);
    border-radius: 5px;
    width: 100%;
    text-align: left;
    font-family: arial;
    font-size: 13px;
    background-color: rgba(200, 197, 197, 0);
    transition: ease 0.25s all;
  }
  .side-menu-button:hover {
    background-color: rgba(63, 63, 63, 0.526);
  }
  .fas,
  .fa-plus {
    padding-right: 0.8rem;
  }
  .chatbox {
    margin: 0 auto;
    width: 100%;
    border-top: 1px rgba(255, 255, 255, 0.204) solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .chat-input-holder {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  .chat-disclaimer {
    font-size: 9px;
    text-align: center;
    padding-top: 0.5rem;
  }

  .chat-input-textarea {
    overflow: hidden;
    background-color: rgba(58, 65, 79, 0.667);
    width: 140%;
    border: 0px;
    padding: 15px;
    border-radius: 10px;
    font-family: "Arial";
    color: whitesmoke;
    font-size: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

    margin-left: 1rem;
  }
  textarea::placeholder {
    color: #757d8a; /* Replace with your desired color */
  }
  .chat-log {
    padding: 0px;
    text-align: left;
    display: flex;
    margin-left: 0%;
    flex-direction: column;
  }
  .form-container {
    width: 35vw;
    margin-bottom: 1rem;
  }
  .chat-message {
    padding: 20px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-left: 20%;
  }
  .chat-message.chatgpt {
    background-color: rgba(61, 68, 83, 0.783);
    margin: 0 auto;
    padding: 20px;
    padding-left: 20%;
    width: 100%;
  }
  .avatar {
    background-color: rgb(49, 162, 168);
    border-radius: 10%;
    width: 30px;
    height: 30px;
  }
  .avatar.chatgpt {
    background-color: rgb(105, 55, 152);
  }
  .message {
    margin-left: 2rem;
    margin-top: 0rem;
    font-family: arial;
    letter-spacing: 0.6px;
    font-size: 12px;
    width: 60%;
    line-height: 1.4rem;
  }

  .header p {
    align-items: center;
    font-family: "Strait";
    color: "whitesmoke";
    background-color: rgb(38, 38, 38);
  }

  .header button {
    margin-right: 1rem;
  }

  .spanclass {
    color: white;
  }

  #flat-earth {
    align-self: flex-end;
    font-size: 15px;
    margin-right: 1.4rem;
  }
  .send-button {
    position: absolute;
    top: 50%;
    left: 115%;
    transform: translateY(-50%);
    background-color: #427a6a;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition-duration: 0.25s;
    border-radius: 10%;
  }
}
.sidemenu {
  width: 0;
  transition: width 0.3s ease;
  cursor: pointer; /* Optional: Changes the mouse cursor when you hover over the side menu */
}

.sidemenu.open {
  width: 250px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #526d7d;
  height: 4vh;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 9px;
}
.footer h3 {
  text-align: center;
  color: #ffffff;
}

.link {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
}
